body {
  background-color: #d7e9e5;
}

hr {
  background-color: #d7e9e5;
  border-style: none;
  border-top: dotted;
  border-color: #90cfba;
  border-width: 5px;
  width: 5%;
}
h1 {
  color: #4bacac;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
  color: #2b9696;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
